body{
    overflow: hidden;
}

.App{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.main{
    height: 94vh;
    display: flex;
    flex-direction: row;
}

.navBar{
    width: 5%;
    overflow: scroll;
}

.navBar::-webkit-scrollbar {
    width: 0; 
  }

.groupBar{
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
    justify-content: center;
}





.groupBar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

