body{
    overflow: hidden;
}

.App{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.main{
    height: 94vh;
    display: flex;
    flex-direction: row;
}

.navBar{
    width: 65px;
    overflow: scroll;
}

.navBar::-webkit-scrollbar {
    width: 0; 
  }

.groupBar{
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 62px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
    justify-content: center;
}

.dmDir{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dmDir img{
   width: 60px; 
   background-color: #1e1f22;
   cursor: pointer;
}

.groupBar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.square {
    border-radius: 12px;
    width: 70%;
    padding-bottom: 70%; 
    background-color: rgb(255, 0, 255);
    cursor: pointer;
}

.square:hover{
    border: 1px solid white;
}