 /* Events.css */
 .popup {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)!important; /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    width: 40%;
    color: white;
    font-size: 20px;
    text-align: right; /* Align text to the right */
    background-color: #1b2439!important;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)!important;
}

.popup-content h2{
    margin-top: -20px;
    text-align: center;
}

.pp{
    display: flex;
    gap: 6%;
    justify-content: center;
}

.mybutton{
    margin: 0 auto;
    width: 60%;
}

.PopupForm{
    overflow: hidden;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.close {
    cursor: pointer;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
}

.close:hover {
    color: rgb(252, 93, 93);
}

/* Create Event button */
.create-event-button {
    
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    height: 60px;
    width: 200px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.edit-events-button {   
    padding: 10px 20px;
    height: 50px;
    width: 150px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Events Box */ 
.events-box {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    overflow-y: auto;
    border: 2px solid #ccc;
    color: white;
}

.events-box ul {
    text-align: left;
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin: 4px;
}

.events-box ul li {
    
    margin-bottom: 2px;
}

.events-box h2 {
    
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 5px 2; /* Line spacing */
}

.events-container {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
  
    text-align: center;
    
    margin-top: 5%;
    color: black !important;
}

.create-event-button:hover {
    background-color: #0056b3;
}

/* Add styles for form elements */
.form-group {
    text-align: left;
    margin-bottom: 20px; /* Add margin between form groups */
 }

label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add margin below labels */
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px; /* Add some spacing between tags */
}
  
.tag {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 5px; /* Add some spacing between tags */
    margin-bottom: 5px; /* Add some spacing between tags */
}
  
.tag button {
    margin-left: 5px; /* Add some spacing between tag text and remove button */
}

