/* Events.css */
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .popup-content {
        text-align: left;
        background-color: gray;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 300px;
    }
  
    .close {
        position: absolute;
        top: 20px;
        right: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 60px;
        color: red;
        background-color: grey;
        line-height: 40px;
        text-align: center;
    }
  
    /* Create Event button */
    .create-event-button {
        position: fixed;
        bottom: 20px;
        left: 20px;
        padding: 10px 20px;
        height: 60px;
        width: 200px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .edit-events-button {
        position: fixed;
        bottom: 340px;
        right: 65px;
        padding: 10px 20px;
        height: 50px;
        width: 150px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    /* Events Box */ 
    .events-box {
        position: fixed;
        bottom: 400px;
        right: 40px;
        width: 200px;
        height: 200px;
        overflow-y: auto;
        border: 2px solid #ccc;
        color: white!important;
    }

    .events-box ul {
        text-align: left;
        list-style: none;
        padding: 0;
        font-size: 16px;
        margin: 4px;
    }

    .events-box ul li {
        margin-bottom: 2px;
    }
    
    .events-box h2 {
        margin: 0;
        border-bottom: 1px solid #ccc;
        padding: 5px 2; /* Line spacing */
    }

    .events-container {
        text-align: center;
        justify-content: space-between;
        margin-top: 10px;
        color: black !important;
    }
  
    .create-event-button:hover {
        background-color: #0056b3;
    }
  
    /* Add styles for form elements */
    .form-group {
        margin-bottom: 20px; /* Add margin between form groups */
     }
  
    label {
        display: block; /* Display labels as block elements */
        margin-bottom: 5px; /* Add margin below labels */
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px; /* Add some spacing between tags */
    }
      
    .tag {
        display: inline-block;
        background-color: #007bff;
        color: white;
        padding: 3px 6px;
        border-radius: 3px;
        margin-right: 5px; /* Add some spacing between tags */
        margin-bottom: 5px; /* Add some spacing between tags */
    }
      
    .tag button {
        margin-left: 5px; /* Add some spacing between tag text and remove button */
    }

    .popup-content {
        max-height: 900px; /* Set a maximum height for the popup content */
        overflow-y: auto; /* Enable vertical scrolling when content overflows */
        max-width: 16vw; /* Set a maximum width for the popup content */
        overflow-x: auto; /* Enable horizontal scrolling when content overflows */
    }
    
      
  
