.yourFriends {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    gap: 12px;
}

.friends_main{
    padding-bottom: 12px;
}


.friendBox {
    cursor: pointer;
    align-items: center;
    height: 80px;
    font-size: 1.8rem;
    display: flex;
}

.friendBox:hover {
    background-color: #2b2d31;
}

.pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 100%;
    /* This makes the image circular */
    overflow: hidden;
    margin: 0 10px;
    aspect-ratio: 1;
}

.l_bar {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.dmBox {
    gap: 1px;
    padding: 4px 0;
    font-size: 15px;
    display: flex;
    height: 1%;
    align-items: center;
    cursor: pointer;
}

.dmBox:hover {
    background: #313338;
}

.dmName {
    padding-left: 3px;
    font-size: 20px;
    text-align: left;
    flex-basis: 90%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dmImg {
    padding-right: 3px;
    flex-basis: 8%;
    width: 1%;
    aspect-ratio: 1;
}

.username{
    font-size: 2rem;
    font-weight: 500;
}

.l_bar_head {
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addDm {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px;
    user-select: none;
    cursor: pointer;
}

.addDm:hover {
    color: #a5a5a5;
}

.msgTitle {
    flex-grow: 1;
}

.fform {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 30rem;
    background-color: #1e1f22;
    z-index: 10;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

.innerForm {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
}

.selectForm {
    color: black;
}

.profilePic {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
    /* This ensures the image stays within the circular boundary */
}

.pfpInnards {
    width: 100%;
}

.title{
    background-color: #313338;
    width: 100%;
    font-weight: 600;
    font-size: 2rem;
}

.profileInfo{
    margin: 12px 12px;
    font-size: 1.2rem;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.profilebar{
    height: 85vh;
    padding-top: 12px;
}