.yourFriends{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.friendBox{
    display: flex;
}

.friendBox:hover{
    background-color: #2b2d31;
}

.pfp{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: auto 0;
    background-color: rgb(0, 238, 255);
    margin-left: 1%;
    margin-right: 1%;
    aspect-ratio: 1; 
}

.l_bar{
    margin-top: 6px;
    display: flex;
    flex-direction: column;

}

.dmBox{
    padding: 4px 0;
    font-size: 15px;
    display: flex;
    height: 1%;
    align-items: center;
    cursor: pointer;
}

.dmBox:hover{
    background: #313338;
}

.dmIcon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
    margin-left: 1%;
    margin-right: 3%;
    background-color: black;
    aspect-ratio: 1; 
}

.dmName {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.l_bar_head {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addDm {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px;
    user-select: none;
    cursor: pointer;
}

.addDm:hover{
    color: #a5a5a5;
}

.msgTitle {
    flex-grow: 1;
}

.fform {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 30rem;
    background-color: #1e1f22;
    z-index: 10;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 16px;   
}

.innerForm{
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
}

.selectForm{
    color: black;
}