.yourFriends {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    gap: 12px;
}

.friends_main{
    padding-bottom: 12px;
}


.friendBox {
    cursor: pointer;
    align-items: center;
    height: 80px;
    font-size: 1.8rem;
    display: flex;
}

.friendBox:hover {
    background-color: #2b2d31;
}

.pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 100%;
    /* This makes the image circular */
    overflow: hidden;
    margin: 0 10px;
    aspect-ratio: 1;
}

.l_bar {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.dmBox {
    gap: 1px;
    padding: 4px 0;
    font-size: 15px;
    display: flex;
    height: 1%;
    align-items: center;
    cursor: pointer;
}

.dmBox:hover {
    background: #313338;
}

.dmName {
    color: rgb(138, 138, 138);
    padding-left: 3px;
    font-size: 26px;
    text-align: left;
    flex-basis: 90%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dmImg {
    display: none;
    padding-right: 3px;
    flex-basis: 8%;
    width: 1%;
    aspect-ratio: 1;
}

.username{
    font-size: 2rem;
    font-weight: 500;
}

.l_bar_head {
    height: 3rem;
    font-weight: 600;
    font-size: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.addDm {
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-basis: 10%;
    text-align: left;
    font-weight: 600;

    user-select: none;
    cursor: pointer;
}

.addDm:hover {
    color: #a5a5a5;
}

.msgTitle {
    font-size: 200%;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.addFriend{
    padding-right: 4px;
    display: flex;
    flex-basis: 10%;
}

.addFriend img{
    cursor: pointer;
    width: 1.4rem;
    flex-basis: 10%;
}

.addFriend img:hover {
    filter: brightness(70%); 
}

.profilePic {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
}

.pfpInnards {
    width: 100%;
}

.title{
    background-color: #313338;
    width: 100%;
    font-weight: 600;
    font-size: 2rem;
}

.profileInfo{
    margin: 12px 12px;
    font-size: 1.2rem;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.profilebar{
    height: 85vh;
    padding-top: 12px;
}


.memberBox{
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.memberBox:hover{
    background-color: #313338;
}

.memberpfp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 10px;
    aspect-ratio: 1;
}

.memberName {
    text-align: left;
    width: 80%; /* You can adjust this width as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 36px;

}

.dmBox.selected {
    
}

.dmBox.selected .dmImg {
    display: block;
}

.dmBox.selected .dmName {
    color: white; /* Change text color of the name when selected */
}