/* Updated CSS */
.FriendHub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: fit-content;
    background-color: #131b30;
    z-index: 10;
    box-shadow: 6px 6px 10px rgba(8, 5, 3, 0.4);
    border-radius: 8px;
    padding-bottom: 20px;
}

.innerForm {
    position: relative; /* Ensure absolute positioning within this container */
}

.SendInvite {
    position: absolute;
    right: 10px; /* Position at the far right */
    top: 14%; /* Align with the top of the input field */

    background-color: #2a3550;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 8%;
    padding: 4px 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.SendInvite:hover {
    background-color: #39496f;
}

.friendInvites {
    overflow-y: scroll;
    background-color: #2a3550;
    border-radius: 10px;
    width: 100%;
    height: 16rem;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5); /* Inner box shadow */
}

.friendInvites::-webkit-scrollbar{
    width: 0;
}

.inviteCard{
    padding: 3px 0;
    display: flex;
    height: 35%;
}

.inviteCard:hover{
    background-color: #39496f;
}

.FriendPFP{
    flex-basis: 15%;

}

.FriendName {
    display: flex;
    align-items: center;
    font-size: 40px;
    text-align: left;
    flex-basis: 62%;

    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.InviteOptions{
    display: flex;
    flex-basis: 23%;
}

.FriendOption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.FriendOption img{
    filter: brightness(80%);
    height: 70%;

}

.FriendOption img:hover{
    cursor: pointer;
    filter: brightness(60%);
}

