@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  /* border: solid 1px red; */
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body, html, #root {
  color:white;
  width: 100%;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f182a;

  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

body{
  overflow: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.main{
  height: 94vh;
  display: flex;
  flex-direction: row;
}

.navBar{
  width: 5%;
  overflow: scroll;
}

.navBar::-webkit-scrollbar {
  width: 0; 
}

.serverHub{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f182a;
  width: 4.8vw;
  bottom: 0;
  left: .1vw;
  height: 10vh;
}

.serverHub img{
  width: 65%; 
  padding: 1vh 0 1.5vh;
  cursor: pointer;
}

.serverlink{
  width: 100%;
  aspect-ratio: 1;
}

.serverHub:hover{
  img{
    filter: brightness(60%);
  }
 
}

.groupBar{
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 13vh;
  width: 98%;
  padding-bottom: 9vh;
  display: flex;
  flex-direction: column;
  gap: 1.2vh;

  align-items: center;
  justify-content: center;
}

.serverSettingsIcon{
  width: 13%;
  margin-top: 2%;
  margin-left: 85%;
  aspect-ratio: 1;
  cursor: pointer;
  margin-bottom: -40px;
}

.serverSettingsIcon img:hover{
  filter: brightness(60%);
}

.dmDir{
  background-color: #0f182a;
  
  width: 4.8vw;
  left: .1vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 1.3vh;
}

.dmDir img{
  width: 80%; 
  cursor: pointer;
}

.dmDir img:hover{
  filter:brightness(60%);
}

.groupBar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.square {
  border-radius: .5vw;
  width: 70%;
  aspect-ratio: 1;

  background-color: rgb(61, 61, 61);
  cursor: pointer;
}

.square:hover{
  border: 1px solid white;
}

.shadow{
  box-shadow: 0 4px 2px -1px rgb(0 0 0 / 0.1), 0 2px 10px -2px rgb(0 0 0 / 0.1);
}

.scroll{
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 0;
}

.slider{
  overflow-x: scroll;
}


