@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  /* border: solid 1px red; */
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body, html, #root {
  color:white;
  width: 100%;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(42, 53, 80);
}