.Begin{
    width: 80%;
    height: fit-content;
    background-color: #1b2439;
    border-radius: 1vw;
    box-shadow: 6px 6px 10px rgba(8, 5, 3, 0.2);
}

.BeginTitle{
    font-size: 3vw;
    font-weight: 700;
}

.BeginForm{
    display: flex;
    flex-direction: column;
    padding: 0 3vw;
}

.BeginInput{
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
    text-align: left;
}

.BeginInput span{
    font-size: 1.7vw;
    font-weight: 700;
}

.BeginInput input{
    font-size: 1.6vw;
    color: white;
    width: 100%;
    border-radius: .4vw;
    border: 0;
    background-color: #39496f;
}

.BeginInput input::placeholder{
    color:rgb(136, 151, 194);
}

.BeginButton{
    border-radius: .4vw;
    cursor: pointer;
    margin: 3% auto;
   
    width: 30%;
    color: white;
    font-size: 1.4vw;
    font-weight: 700;
    border: 0;
    background-color:#2a3550
}

.BeginButton:hover{
    background-color: #39496f;
}

.BeginLink{
    font-size: 1vw;
    margin: 2vh auto 3vh;
}

.BeginLink .link{
    color: rgb(148, 147, 255);
}

.BeginLink .link:hover{
    color: rgb(92, 90, 255);
}

.BeginFormBasis{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}

.BeginScreen{
    width: 100vw;
    height: 100vh;

    display: flex;
}

.BeginTitleCard{
    flex-basis: 50%;
}

.PROJTITLE{
    font-size: 5vw;
    font-weight: 800;
}

.BeginDesign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    height: fit-content;
}

.BeginCircle{
    margin-top: 2vh;
    border-radius: 100%;
    aspect-ratio: 1;
    background-color:#39496f;
    width: 60%;
    height: auto;
}

.BeginShadow{
    box-shadow: .5vw 1vw 2vw 0 rgb(0 0 0 / 0.4)
}

.PhoneBox{
    aspect-ratio: 1;
    width: 35vw;
    
    position: absolute;
}

.BeginDesign img{
   width: 100%;
}