a:link {
    color: white;
}

a:visited {
    color: white;
}

.wrap{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    margin: 1vw;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 2vh;
}

.links{
 
    flex-basis: 93%;
}

.notesBox{
    display: flex;
    flex-basis: 2%;

}

.notesBox img{
    cursor: pointer;
    width: 80%;
}

.cal{
    display: flex;
    align-items: center;
    justify-content: center;

}

.cal img{
    cursor: pointer;
    width: 80%;
}

.notesBox img:hover{
    filter: brightness(60%);
}

.signoutBox{
    cursor: pointer;
    background-color: #2a3550;
    border-radius: .5vh;
    flex-basis: 5%;
    font-weight: 600;
    padding: .3vh;
}

.signoutBox:hover{
    background-color: #39496f;
}