.NotesBG {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 100;
}

.NotesX {
    z-index: 999;
    background-color: #1b2439;
    font-size: 38px;
    font-weight: 700;
    position: absolute;
    right: .3vw;
    top: .3vh;
    border-radius: 10vw;
    padding: 0 1.1vw;
    cursor: pointer;
    color: #fff;
}

.NotesX:hover {
    color: rgb(230, 81, 81);
}

.NotesTextArea {
    width: 80%;
    height: 80%;
    margin: 50px auto;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    resize: none;
}

.SaveButton {
    position: relative;
    bottom: 10%;
    right: 5%;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.SaveButton:hover {
    background-color: #58a9ff;
}

.CalBG {
    position: absolute;

    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 100;
}

