.page{
    width: 100%;
    background-color: #2b2d31;
    display: flex;
    flex-direction: row;
}

.leftSideBar{
    object-fit: contain;
    flex-basis: 16%;

    overflow-x: hidden;
    overflow-y: scroll;   
}

.leftSideBar::-webkit-scrollbar {
    width: 0; 
}

.rightSideBar{
    object-fit: contain;
    flex-basis: 19%;
}

.mainContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #313338;
    object-fit: contain;
    flex-basis: 65%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mainContent::-webkit-scrollbar {
    width: 0; 
  }

@media screen and (max-width: 900px) {

    .rightSideBar {
        display: none;
        /* Hide the right sidebar when zoomed in */
    }

    .mainContent{
        flex-basis: 84%;
    }
}