.page{
    border-top-left-radius: 13px; /* Adjust the value as needed */
    width: 95%;
    background-color: #1b2439;
    display: flex;
    flex-direction: row;
}

.leftSideBar {
    object-fit: contain;
    flex-basis: 16%;
    overflow-y: scroll;
    
}
.leftSideBar::-webkit-scrollbar{
    width: 0;
}

.rightSideBar{
    object-fit: contain;
    flex-basis: 19%;
}

.mainContent{
    width: 60%;
    height: 100%;
    background-color: #2a3550;
    object-fit: contain;
    flex-basis: 65%;
    overflow-y: scroll;
}

.mainContent::-webkit-scrollbar{
    width: 0;
}


@media screen and (max-width: 900px) {

    .rightSideBar {
        display: none;
        /* Hide the right sidebar when zoomed in */
    }

    .mainContent{
        flex-basis: 84%;
    }
}